page-terms {
    ion-content {
        background-color: #61EA9A;
    }
    h3 {
        background-color: color($colors, color);
        padding: 9px;
        margin: 0px;
        border-radius: 0px 40px 5px 0px;
    }
    button {
        float: left;
    }
}
