page-terms {
    h3 {
        background-color: color($colors, color);
        padding: 9px;
        margin: 0px;
        border-radius: 0px 40px 5px 0px;
        box-shadow: black 1px 1px 5px;
        margin-bottom: 50px;
    }
    p {
        font-size: 10px;
    }
    button {
        float: left;
    }
    .footer {
        padding: 0px;
        width: 80%;
        margin: 200px auto 0px;
        background-image: url("../assets/imgs/footer.png");
        background-size: cover;
        background-position: center;
        height: 10px;
        border-radius: 50px;
    }
}
