page-spain {
    ion-content {
        #mapSpain {
            width: 100%;
            height: 100%;
        }
        
        ion-fab {
            margin-top: 40px;
        }
        border: black 1px solid;
    }

    ion-navbar {
        box-shadow: black 0 2px 10px;
        border: black 1px solid;
        border-bottom: none;
        border-radius: 0 0 5% 5%;
    }

    ion-fab {
        box-shadow: black 1px 1px 10px;
        border-radius: 50%;
    }
    
    .gm-style .gm-style-iw {
        
        text-align: center;
        border-top: black 1px double;
        border-bottom: black 2px double;
        border-radius: 2px 2px 18px 18px;

        p {
            text-align: left;
        }
    }
            
}
