ion-menu {
    ion-content {
        background-color: #222 !important;
    }
}
page-login {
    .oculto{
        color: red;
        visibility: hidden;
    }
}
.cerrarSesion {
    text-align: center;
}
