page-information {
    button {
        float: left;
    }
    h5 strong, p strong {
        color: green;
    }
    .logo {
        width:35%;
        margin: auto;
        border: black 2px solid;
        padding: 20px 15px;
    }
    p {
        padding: 0px 20px;
    }
    div p {
        padding: 1px;

    }
    div.footer p strong{
        color: black;
        text-shadow: -1px -1px 1px #61EA9A, 1px 1px 1px #61EA9A, -1px 1px 1px #61EA9A, 1px -1px 1px #61EA9A;
    }
    .footer {
        width: 80%;
        margin: 200px auto 0px;
        background-image: url("../assets/imgs/footer.png");
        background-size: cover;
        background-position: center;
        border-radius: 50px;
    }
}
