page-information {
    button {
        float: left;
    }
    .logo {
        width:35%;
        margin: auto;
        border: black 2px solid;
        padding: 20px 15px;
    }
    p {
        padding: 0px 20px;
    }
    footer {
        margin-top: 200px;
    }
}
